.NavItem {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    /*width: auto;*/
    align-items: center;
}

.NavItem a {
    color: white;
    text-decoration: none;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    /*so that height also includes padding*/
    display: block;
}

.NavItem a:hover,
.NavItem a:active,
.NavItem a.active {
    background-color: lightcoral;
    border-bottom: #7E7365;
    color: white;
}